
crates/
ink-examples-main/
solidity-examples/cache/
solidity-examples/node_modules/
solidity-examples/target/
solidity-examples/build/
solidity-examples/dist/
solidity-examples/out/
solidity-examples/coverage/
solidity-examples/coverage.json
solidity-examples/coverage.lcov
solidity-examples/coverage.lcov.json

shuttle-backend/venv/
shuttle-backend/target/
shuttle-backend/.env